@import 'https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap';

$primary-color: #FE7A15;
$primary-color-20pct: #FE7A1520;
$secondary-color: #3011BC;

$light-green: #EAFFFB;
$accept-green: #24CF5F;
$warning: #ff0000;
$warning-background:#ff000044 ;

$theme-white: #FFFEFE;
$theme-semi-white: #f1efef;
$theme-white-transparent: #ffffffbe;
$gray-300:#f2f2f2;
$gray-400:#C4C4C4;
$gray-500:#99B4CC;
$gray-700: #7C8DB0;
$gray-800:#607080;
$gray-900:#4C5A66;
$gray-1000:#39434D;
$gray-1100: #262D33;

//Media Queries//
$desktop1: 1199px;
$desktop2: 959px;
$desktop3: 799px;
$desktop4: 659px;
$mobile1: 479px;
$mobile2: 359px;


//General//
* {
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.flights-page{
    background-color: $theme-semi-white;
}

.signIn {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../images/gallery/login-background.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logIn {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../images/gallery/camille-minouflet-d7M5Xramf8g-unsplash\ 1.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}