@import "../../assets/scss/general.scss";
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.flight-search-form-container{
   width: 100%;
   max-width: 1200px;
   margin: auto;
   padding: 40px 0;
   display: flex;
   flex-direction: column;
   .button-group{
    margin: auto;
    padding-bottom: 40px;
    .search-button {
        font-weight: bold;
    }
   }
    form {
        display: flex;
        justify-content: center;
        margin: auto;
        .inputContainer {
            display: flex;
            flex-direction: column;
            position: relative;

            input {
                height: 50px;
                border: none;
                border: 1px solid $gray-800;
                background-color: transparent;
                padding-left: 30px;
                color: $gray-800;
            }
            span {
                color: red;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                position: absolute;
                color: $gray-800;
                opacity: 1;
                display: block;
                width: 16px;
                height: 16px;
                border-width: thin;
                left: 8px;
                cursor: pointer;
            }
            .input-icon {
                position: absolute;
                left: 8px;
                transform: translateY(-50%);
                top: 25px;
                z-index: 1;
            }
        }
        .submit-button {
            width: 100px;
            height: 50px;
            background-color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 0 5px 5px 0;
            color: $theme-white;
            transition: 0.5s;
            &:hover{
                background-color: $theme-white;
                color:$primary-color;
                box-shadow: 1px 1px 5px rgba($color: $gray-1100, $alpha: 0.5);
                transition: 0.5s;
            }
        }
    }
}