@import "../../assets/scss/general.scss";

.side-menu-container {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #5a43bf;
    background-image: linear-gradient(180deg,#5a43bf 10%,$secondary-color 100%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
    overflow: auto;
    &_item {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $theme-white;
        font-size: 20px;
        width: 100%;
        .item-icon {
            font-size: 30px;
            margin-bottom: 5px;
        }
        &:first-child{
            border-bottom: 1px solid $theme-white;
            margin-bottom: 20px;
        }
    }
    .menu {
        color: rgba($color: $theme-semi-white, $alpha: 0.5) ;
        padding: 10px 0;
        cursor: pointer;
        transition: 0.5s;
        p {
            margin: 0;
        }
        &:hover {
            background-color: rgba($color: $gray-1000, $alpha: 0.5);
            color: rgba($color: $theme-semi-white, $alpha: 1.0);
            transition: 0.5s;
        }
    }
}